<!-- Grid Warpper -->
<div class="grid-container">
  <p id="notice"><%= notice %></p>

  <!-- Sidenav -->
  <aside class="sidenav">
    <div class="logo">
      <h1>Todo.io</h1>
    </div>
    <%= link_to 'New Todo List', new_todo_list_path, :class => "new-task-btn" %>
  </aside>

  <!-- Main content -->
  <main class="main">
    <% @todo_lists.each do |todo_list| %>
    <div class="card-list">
      <div class="card-list-infos">
        <h2><%= todo_list.title %></h2>
        <p><%= todo_list.description %></p>
        <%= link_to todo_list do %> 
          <i class="fa fa-trash-alt"></i>
          <i class="far fa-eye"></i>
        <% end %>
        <%= link_to 'Edit',edit_todo_list_path(todo_list) %> 
        <%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  </main>
</div>
