<p id="notice"><%= notice %></p>

<h1>Todo Lists</h1>
  <% @todo_lists.each do |todo_list| %>
    <p>
      <strong>Title:</strong>
      <%= todo_list.title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= todo_list.description %>
    </p>

    <div id="todo_items_wrapper">
      <div id="form">
        <%= render "shared/form" %>
      </div>
    </div>
    
    <%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_todo_list_path(todo_list) %> |
    <%= link_to 'Back', todo_lists_path %>
  <% end %>
<%= link_to 'New Todo List', new_todo_list_path %>