<!-- Grid Warpper -->
<p id="notice"><%= notice %></p>

<div class="grid-container">
  <!-- Header -->
  <header>
    <h1>Hello User</h1>
    <%= link_to 'New Todo List', new_todo_list_path, :class => "new-task-btn" %>
  </header>
  <!-- Sidebar -->
  <aside>
    <h1>Your Tasks</h1>
  </aside>
  <main>
    <% @todo_lists.each do |todo_list| %>
    <div class="card-container">
      <div class="card-item">
        <div class="intro">
          <h2><%= todo_list.title %></h2>
          <p><%= todo_list.created_at.strftime("%m / %d / %Y") %></p>
        </div>
        <p><%= todo_list.description %></p>
        <div class="card-info">
          <%= link_to todo_list do %> 
            <i class="far fa-eye"></i>
          <% end %>
          <%= link_to edit_todo_list_path(todo_list) do %>
            <i class="far fa-edit"></i>
          <% end %> 
          <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </main>
</div>
