<p id="notice"><%= notice %></p>
<div class="show_grid-container">
  <header class="show_header">
    <h1><%= @todo_list.title %></h1>
    <h3><%= @todo_list.description %></h3>
  </header>

  <main class="show_main">
    <div id="show_card-item">
      <%= render @todo_list.todo_items %>
    </div>
    <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
    <%= link_to 'Back', todo_lists_path %>
  </main>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>